* {
    margin: 0%;
    padding: 0%;
}

body {
    overflow-y: hidden;
}

@font-face {
    font-family: Poppins-light;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}


.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    padding-left: 20px !important;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.05);
}

.line2 {
    width: 100%;
    height: 5px;
    background-color: #f9f9f9;
   
}


.color {
    color: #772360;
    margin-bottom: 0rem !important;
    margin: 0px 5px;
    font-family: Poppins-Medium;
    font-size: 18px;
    font-weight: 500;
}

.nav1 {
    display: flex;
    /* justify-content: space-between; */
    font-size: 17px;
    align-items: center;
    text-decoration: none;
    color: black;
}

.nav1 a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

select {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: Poppins-Regular !important;
    font-size: 16px !important;
}

.nav2 {
    display: flex;
    align-items: center;
    background-color: #fffdf7;
    border: 1px solid #f6e8c6;
    border-radius: 40px;
    padding: 5px 0px;
    justify-content: space-between;
    width: 50%;
}

.nav2 label {
    margin: 0px 5px;
}

.nav21 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.finput {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 17px;
    border-left: 2px solid beige;
    padding: 0px 10px;
}

.search {
    border-radius: 50%;
    background-color: #772360;
    padding: 5px;

}

option {
    font-weight: bold;
    font-size: 17px;
}

.all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}

.all1 {
    width: 50%;
}

.img {
    object-fit: none;
}

.nav3 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 3%;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    align-items: baseline;
}

/* container */
.containerno {
    /* height: 90vh; */
    background-color: white;
  

}

.con1 {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.display {
    display: flex;
}

.displayi {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 0px;
    text-align: center;
    border: 1px dashed #cccccc;
    /* margin: 0px 5px; */
    margin-top: 7px;
}

.displayi:hover {
    color: #3fb575;
    border: 1px solid #3fb575;
}

.star {
    color: #d63434;
}

/* .box{
    margin-bottom: 10px;
} */

h6 {
    margin: 10px 0px !important;
    font-family: Poppins-SemiBold;
    padding-top: 10px;
}



.display1 {
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 45px;
    display: inline-block;
    text-align: center;
    border: 1px dashed #cccccc;
    font-family: Poppins-Regular;
}
.display1:hover {
    color: #3fb575;
    border: 1px solid #3fb575;
}

.display2 {
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 70px;
    display: inline-block;
    text-align: center;
    border: 1px dashed #cccccc;
    font-family: Poppins-Regular;

}

.display3 {
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 26px;
    display: inline-block;
    text-align: center;
    border: 1px dashed #cccccc;
    font-family: Poppins-Regular;

}

.display4 {
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 20px;
    display: inline-block;
    text-align: center;
    border: 1px dashed #cccccc;
    font-family: Poppins-Regular;

}

.display2:hover {
    color: #3fb575;
    border: 1px solid #3fb575;
}

.display3:hover {
    color: #3fb575;
    border: 1px solid #3fb575;
}

.display4:hover {
    color: #3fb575;
    border: 1px solid #3fb575;
}

.spa {
   display: flex;
   justify-content: center;
   align-items: center;
}

input {
    width: 100%;
    outline: none;
    height: 38px;
    font-family: Poppins-Regular !important;
    padding: 0px 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.room {
    /* position: relative; */
    /* margin: 0px 5px; */
    object-fit: contain;
    width: 100%;
}



.up {
    /* position: absolute; */
    object-fit: none;
}

.grey {
    background-color:
        #f9f9f9;

    text-align: center;

    color: #cccccc;
    border: 1px dashed #cccccc;
}

.grey1 {
    background-color: #f9f9f9;

    text-align: center;


    border: 1px dashed #cccccc;
    color: #cccccc;
}

.grey2 {
    background-color: #f9f9f9;

    text-align: center;


    border: 1px dashed #cccccc;
    color: #cccccc;
    height: 135px;
}

.grey3 {
    background-color:

        #f9f9f9;

    text-align: center;



    border: 1px dashed #cccccc;
    color: #cccccc;
}

.map {
    object-fit: cover;
    width: 100%;
    padding: 0px 12px;
    height: 38rem;
}

.row {
    --bs-gutter-x: 0rem !important;
    background-color: white;
}

.row1 {
    background-color: #ffffff;
    padding: 0px 0px 0px 20px;
    overflow-y: scroll;
    height: 90dvh;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.row2 {
    background-color: #ffffff;

}

.row3 {
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    padding-bottom: 20px;
}

.phoneview {
    display: none;
}

option {
    font-weight: bold;
    font-size: 17px;
}

@media (max-width: 768px) {

    body {
        overflow-y: scroll;
    }

    .row1 {
        background-color: #ffffff;
        padding: 0px 0px 0px 20px;
        overflow-y: hidden;

    }

    .display2 {

        font-size: 12px;
    }

    .display3 {

        font-size: 12px;
    }

    .display4 {

        font-size: 12px;
    }

    .displayi {
        font-size: 12px !important;
    }

    .table1 {
        padding: 0px 20px !important;
    }

    .grey3 {
        background-color: #f9f9f9;

        text-align: center;


        border: 1px dashed #cccccc;
        color: #cccccc;
    }

    .room {

        object-fit: contain;

        display: flex;
        justify-content: start;
        width: 100%;
    }

    .row2 {
        text-align: center;

    }

    .row3 {
        text-align: center;

    }

    .loc {
        position: absolute;
        right: 5px !important;
        top: 60px;
    }

    .header {
        display: none;
    }

    .search {
        background-color: transparent;
    }

    .navv {
        display: none !important;
    }

    .phoneview {
        display: block;
        width: 100%;
        padding: 10px;
    }

    .home1 {
        width: 100%;
        height: 350px;
    }

    .background {
        text-align: center;
        background-color: #f3ead4;
        padding: 70px 0px 0px 0px;
    }

    .eas {
        font-family: "Playfair Display", serif;
        font-size: 24px;
        line-height: 1.5;
    }

    .navall {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        background-color: #ffffff;
        width: 100%;
        text-align: center;
        /* margin: 0px 10px; */
    }

    .small {
        width: 11px;
        height: 7px;
        padding: 7px 3px;
    }

    .nav14 {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 5px 0px;
    }

    .search {
        padding: 10px 10px;
    }

    .madu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0px 150px; */
        font-size: 16px;
        /* width: 100%; */
    }

    input {
        background-color: transparent;
        /* border: none; */
        padding-top: 10px;
        outline: none;
        font-size: 17px;
        width: 100%;
        padding: 0px 10px;
    }

    .login1 {
        border: 1px solid black;
        border-radius: 24px;
        padding: 6px 20px;
        background-color: transparent;
        cursor: pointer;
        text-align: center;
        font-weight: 300;
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    .line1 {
        width: 100%;
        height: 2px;
        background-color: #eeeeee;
        margin-top: 15px;
    }

    .line2 {
        width: 100%;
        height: 2px;
        background-color: #eeeeee;
        
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header {
        display: none;
    }

    .line2 {
        width: 100%;
        height: 2px;
        background-color: #eeeeee;
    }

    body {
        overflow-y: scroll;
    }

  

    .row1 {
        background-color: #ffffff;
        padding: 0px 0px 0px 20px;
        overflow-y: hidden;
        height: 100%;
    }

    .row2 {
        text-align: center;

    }

    .row3 {
        text-align: center;

    }

    .loc {
        position: absolute;
        right: 7px !important;
        top: 60px;
    }

    .search {
        background-color: transparent;
    }

    .navv {
        display: none !important;
    }

    .phoneview {
        display: block;
        width: 100%;
        padding: 10px 10px 0px 10px;
    }

    .home1 {
        width: 100%;
        height: 350px;
    }

    .background {
        text-align: center;
        background-color: #f3ead4;
        padding: 70px 0px 0px 0px;
    }

    .eas {
        font-family: "Playfair Display", serif;
        font-size: 24px;
        line-height: 1.5;
    }

    .navall {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        background-color: #ffffff;
        width: 100%;
        text-align: center;
        margin: 0px 0px;
    }

    .small {
        width: 11px;
        height: 7px;
        padding: 7px 3px;
    }

    .nav14 {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 5px 0px;
        align-items: center;
    }

    .search {
        padding: 5px 10px;
    }

    .madu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0px 150px; */
        font-size: 16px;
        /* width: 100%; */
    }

    input {
        background-color: transparent;
        /* border: none; */
        padding-top: 10px;
        outline: none;
        font-size: 17px;
        width: 100%;
        padding: 0px 10px;
    }

    .login1 {
        border: 1px solid black;
        border-radius: 24px;
        padding: 6px 20px;
        background-color: transparent;
        cursor: pointer;
        text-align: center;
        font-weight: 300;
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    .line1 {
        width: 100%;
        height: 2px;
        background-color: #eeeeee;
        margin-top: 15px;
    }


}

.locc {
    position: relative;
}

.loc {
    position: absolute;
    right: 5px;
    top: 45px;
}

.textt {
    border: none;
    outline: none;
}

.all label {
    font-family: Poppins-Regular;

}

.ren {
    padding: 0px;
}

textarea {
    border: 1px solid #cccccc;
    outline: none;
    padding: 10px;
}

.table1 {
    padding: 0px 24px !important;
}



@media (max-width: 768px) {
    .display1 {
        padding: 8px 45px !important;
        font-size: 12px !important;
    }

    .row1 {
        height: 100%;
    }

}

.tops a {
    padding: 7px 25px;
    color: #772360;
    border: 1px solid #772360;
    border-radius: 50px;
    text-decoration: none;
    margin: 0px 10px;
}

.tops a:hover {

    color: white !important;
    background-color: #772360;
}

.property {
    display: inline-block;
}

a:hover {
    color: black !important;
}

.grey2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    margin: 10px 0px;
    font-family: Poppins-SemiBold;
    padding-top: 10px;
}