* {
    margin: 0px;
    padding: 0px;
}

.img {
    width: 100%;
}

.img img {
    position: absolute;
    bottom: 0%;
    left: 0%;
    /* background-color: beige; */
    width: 50%;
    height: 70vh;
}

.header {
    background-color: #f3ead4;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
}



.topic {
    /* position: absolute; */
    /* left: 18%;
    top: 40px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32vh;
}

.topic h1 {
    font-weight: 100;
    font-size: 46px;
}

.container {

    display: flex;
    justify-content: space-between;
    position: relative;
}



.login {
    padding-top: 50px;
    width: 41%;
}

.ac {
    background-color: #772360;
    border-radius: 35px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 0px 40%;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}





.login h1 {
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}

.login input {
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid black;
    width: 75%;
    background-color: transparent;
}



.last p {
    font-size: 14px;
    color: #666666;
    padding-top: 10px;
}


form {
    padding-top: 5%;
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
}

.last {
    line-height: 3rem;
    padding-top: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 80%;
}

label {
    color: #999999;
    font-size: 13px;
}

.lo {
    color: #772360;
    text-decoration: none;
    font-weight: bold;
}

.re {
    position: relative;
}

.ab {
    position: absolute;
    right: 10%;
}

@media (max-width: 768px) {
    .ab {
        position: absolute;
        right: 10%;
    }
    .login h1 {
        font-weight: 100;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 600;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .ab {
        position: absolute;
        right: 17%;
    }

    .ac {
        background-color: #772360;
        border-radius: 35px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border: none;
        padding: 0px 0px;
        text-decoration: none;
        font-size: 14px;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #f2ebdc;
        height: 100vh;
    }

    .login {
        padding-top: 50px;
        width: 70%;
    }

    .login input {
        border: none;
        outline: none;
        padding: 10px;
        border-bottom: 1px solid black;
        width: 96%;
        background-color: transparent;
    }

    .ac {
        background-color: #772360;
        border-radius: 35px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border: none;
        padding: 0px 129px;
        text-decoration: none;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #f2ebdc;
        height: 100vh;
    }

    .last {
        line-height: 3rem;
        padding-top: 30px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        width: 95%;
    }

    .ac {
        background-color: #772360;
        border-radius: 35px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border: none;
        padding: 0px 0px;
        text-decoration: none;
        font-size: 14px;
    }

}

@media (max-width: 768px) {
    .header {
        display: none;
    }

    .login {
        padding-top: 50px;
        width: 85%;
    }

    .login input {
        border: none;
        outline: none;
        padding: 10px;
        border-bottom: 1px solid black;
        width: 95%;
        background-color: transparent;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header {
        display: none;
    }

    .last {
        line-height: 3rem;
        padding-top: 20px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        width: 90%;
        margin: 20px 25px;
    }
}

.lineh {
    line-height: 10px;
    padding-top: 30px;
}