* {
    margin: 0px;
    padding: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}


.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 14px 46px !important;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

@font-face {
    font-family: Poppins-light;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}



.owl-theme .owl-nav [class*=owl-]:hover {
    background: #772360 !important;
    color: #FFF;
    text-decoration: none;
}

.container-f {
    /* background-color: #f3ead4; */
    height: 73vh;
    font-family: 'Poppins', sans-serif;

}

@media (max-width: 768px) {
    .inputt {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .inputt {
        display: flex;
        align-items: center;
    }
}

a {
    text-decoration: none !important;
    font-family: Poppins-Medium;
}

.space {
    margin: 0px 15px;
    text-decoration: none;
    font-size: 16px;
    /* font-weight: bold; */
    color: #772360;
    font-family: Poppins-Medium;
}

.content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #f3ead4;
}

.content1 a {
    font-family: Poppins-Medium;
}

.login {
    border-radius: 24px;
    padding: 10px 20px;
    background-color: transparent;
    cursor: pointer;
    /* height: 45px; */
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    color: black;
    font-weight: bold;
}



.para {
    text-align: center;
    width: auto;
    /* position: absolute; */
    left: 17%;
    top: 14%;
    line-height: 1.5;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.para h1 {

    text-align: left;
    font-size: 44px;
    font-weight: normal;
}

.para h4 {
    text-align: left;
    font-size: 16px;
    font-family: Poppins-Regular;
}

.img {
  position: relative;
    width: 50%;
}



/* .content3 {

    position: absolute;
    display: flex;
    justify-content: center;
    width: 66%;
    align-items: center;
    position: absolute;
  
    border: none;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
   
    margin: 10px;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.04);
}  /* left: 16%; */
/* top: 68%;  */
/* border: 1px solid black; */

.content2 {
   
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
       background-color: #f3ead4;

}

.content2 {
    position: relative;
   
}

.content3 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 77%;
    align-items: center;
   
    left: 11%;
    top: 68%;
    border: none;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    /* border: 1px solid black; */
    margin: 10px;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.04);
}


.homee {
    width: 100%;
}

button h6 {
    font-family: poppins-Bold;
}

.select {
    background-color: transparent;
    border: none;
    font-size: 17px;
    outline: none;
    display: flex;
}


.select img {
    width: 34px;
    object-fit: none;
}

option {
    padding-top: 10px;
}

.input {
    background-color: transparent;
    border: none;
    border-left: 2px solid #d8d8d8;
    padding-top: 10px;
    outline: none;
    font-size: 18px;
    width: 100%;
    padding: 0px 10px;
    font-family: Poppins-Regular;
}

.button1 {
    background-color: #772360;
    border-radius: 45px !important;
    padding: 15px 15px;
    display: flex;
    font-size: 25px;
    /* width: 150px; */
    /* height: 60px; */
    border: none;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none !important;
}

.btn1 {
    padding: 0px !important;
}

.button1 h6 {
    padding: 0px 8px;
    margin: 0px !important;
}

label {
    /* margin: 0px 5px; */
    font-family: Poppins-Regular;
}

.radioo label {
    margin: 0px 5px;
    font-family: Poppins-Regular;
}

.item p {
    font-family: Poppins-Regular;
}

.radioo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5px;
}


/* h6 {
    padding-top: 6px;
} */
.content4 {
    /* display: flex; */
    /* justify-content: center; */
    /* padding-top: 150px; */
    display: block;
    margin: 0 auto;
    text-align: center;
   
    /* padding-bottom: 37px; */
    padding: 67px 230px;
    /* width: 76%; */
}

.content4 p {
    padding-top: 15px;
    text-align: left;
}

.box1 {
    margin: 20px;
    border-radius: 10px;
    padding: 55px 30px;
    /* border: 1px solid #27a6a6; */
    border-top: 3px solid #27a6a6;
    width: 283px;
    box-shadow: 0px 0px 1px 0px;
    cursor: pointer;
}

.box1 img {
    display: flex;
}


.box2 {
    margin: 20px;
    border-radius: 10px;
    padding: 55px 30px;
    border: 1px solid #f19e5e;
    border-top: 3px solid #f19e5e;
    width: 283px;
    cursor: pointer;
}

.box2 img {
    display: flex;
}

.box3 {
    margin: 20px;
    border-radius: 10px;
    padding: 55px 30px;
    border: 1px solid #cc5d6a;
    border-top: 3px solid #cc5d6a;
    width: 283px;
    cursor: pointer;
}

.box3 img {
    display: flex;
}

.box4 {
    margin: 20px;
    border-radius: 10px;
    padding: 55px 30px;
    border: 1px solid #27a6a6;
    border-top: 3px solid #27a6a6;
    width: 283px;
    cursor: pointer;
}

.box4 img {
    display: flex;
}

.box5 {
    margin: 20px;
    border-radius: 10px;
    padding: 50px 30px;
    border: 1px solid #f19e5e;
    border-top: 3px solid #f19e5e;
    width: 283px;
    cursor: pointer;
}

.box5 img {
    display: flex;
}



.back {
    display: flex;
    justify-content: space-between;
    width: 32px;
    height: 28px;
    padding-top: 121px;
}

P {
    font-family: 'Poppins', sans-serif;
}

.inputt {
    display: flex;
    align-items: center;
    width: 100%;
}

.inputt img {
    padding: 0px 4px;
}

.incon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.nav {
    display: flex;

    align-items: center;
    padding-top: 10px;
    background-color: #ffffff;
}

.nav img {
    margin-right: 10px;
}

.login1 {
    border: 1px solid black;
    border-radius: 24px;
    padding: 6px 20px;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.phoneview {
    display: none;
}

@media (max-width: 768px) {
    .container {
        display: none;
    }

    .phoneview {
        display: block;
    }

    .home1 {
        width: 100%;
        height: 350px;
    }

    .background {
        text-align: center;
        background-color: #f3ead4;
        padding: 70px 0px 0px 0px;
    }

    .eas {
        font-family: "Playfair Display", serif;
        font-size: 24px;
        line-height: 1.5;
    }

    .nav {
        padding: 0px 1px 0px 27px;
        background-color: #ffffff;
        width: 98%;
        text-align: center;
        margin: 10px 5px;
    }

    .small {
        width: 11px;
        height: 7px;
        padding: 7px 3px;
    }

    .nav1 {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 15px 0px;
    }

    .search {
        padding: 5px 10px;
    }

    .madu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        font-size: 16px;
        width: 100%;
    }

    input {
        background-color: transparent;
        border: none;
        padding-top: 10px;
        outline: none;
        font-size: 17px;
        width: 550px;
        padding: 0px 10px;
    }



    .line1 {
        width: 100%;
        height: 2px;
        background-color: #eeeeee;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    .container {
        display: none;
    }

    .phoneview {
        display: block;
    }

    .home1 {
        width: 100%;
        height: 350px;
    }

    .background {
        text-align: center;
        background-color: #f3ead4;
        padding: 70px 0px 0px 0px;
    }

    .eas {
        font-family: "Playfair Display", serif;
        font-size: 24px;
        line-height: 1.5;
    }

    .nav {
        padding: 0px;
        background-color: #ffffff;
        width: 98%;
        text-align: center;
        margin: 0px 10px;
    }

    .small {
        width: 11px;
        height: 7px;
        padding: 7px 3px;
    }

    .nav1 {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 15px 22px;
    }

    .search {
        padding: 5px 10px;
    }

    .madu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0px 150px; */
        font-size: 16px;
        width: 100%;
        margin: 10px 0px;
    }

    input {
        background-color: transparent;
        border: none;
        padding-top: 10px;
        outline: none;
        font-size: 17px;
        width: 550px;
        padding: 0px 10px;
    }



    .line1 {
        width: 100%;
        height: 2px;
        background-color: #eeeeee;
    }


}

@media (max-width: 768px) {
    .line2 {
        width: 2px;
        height: 51px;
        background-color: #eeeeee;
        margin: 0px 25px;
    }

    .owl-carousel .owl-item img {
        display: block !important;
        width: 30% !important;
        height: 21% !important;
        padding: 10px !important;

    }

    .content4 {
        width: 77%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .line2 {
        width: 2px;
        height: 51px;
        background-color: #eeeeee;
        margin: 0px 25px;
    }

    .owl-carousel .owl-item img {
        display: block !important;
        width: 30% !important;
        height: 21% !important;
        padding: 10px !important;

    }

}

.sizee {
    height: 10px;
    width: 10px;
}

.owl-carousel .owl-item img {
    display: block !important;
    width: 30% !important;
    height: 10% !important;
    padding: 0px !important;
}

.owl-dots {
    display: none;
}

.select h4 {
    font-family: Poppins-Regular;
    font-size: 18px;
    margin: 0px !important;
}


@media (max-width: 768px) {
    .box4 {

        border-radius: 10px;
        padding: 55px 30px;
        border: 1px solid #f19e5e;
        border-top: 3px solid #f19e5e;
        width: 300px;
        margin: 0 auto;
        cursor: pointer;
    }

    .box1 {

        border-radius: 10px;
        padding: 55px 30px;
        border: 1px solid #27a6a6;
        border-top: 3px solid #27a6a6;
        width: 300px;
        margin: 0 auto;
        cursor: pointer;
    }

    .box2 {

        border-radius: 10px;
        padding: 55px 30px;
        border: 1px solid #f19e5e;
        border-top: 3px solid #f19e5e;
        width: 300px;
        margin: 0 auto;
        cursor: pointer;
    }

    .box3 {
        border-radius: 10px;
        padding: 55px 30px;
        border: 1px solid #cc5d6a;
        border-top: 3px solid #cc5d6a;
        width: 300px;
        margin: 0 auto;
        cursor: pointer;
    }

    .box5 {
        border-radius: 10px;
        padding: 55px 30px;
        border: 1px solid #cc5d6a;
        border-top: 3px solid #cc5d6a;
        width: 300px;
        margin: 0 auto;
        cursor: pointer;
    }


}

@media (min-width: 768px) and (max-width: 991.98px) {
    .box4 {
        margin: 20px 20px 20px 83px;
        border-radius: 10px;
        padding: 55px 30px;
        border: 1px solid #f19e5e;
        ;
        border-top: 3px solid #f19e5e;
        ;
        width: 175px;
        cursor: pointer;
    }

    .content1 {
        display: none;
    }

    .content2 {
        display: none;
    }

    .phoneview {
        display: block;
    }

    .box1 {
        margin: 20px 20px 20px 83px;
        border-radius: 10px;
        padding: 55px 30px;
        border: 1px solid #27a6a6;
        border-top: 3px solid #27a6a6;
        width: 175px;
        cursor: pointer;
    }

    .box2 {
        margin: 20px 20px 20px 83px;
        border-radius: 10px;
        padding: 55px 30px;
        border: 1px solid #f19e5e;
        ;
        border-top: 3px solid #f19e5e;
        ;
        width: 175px;
        cursor: pointer;
    }

    .box3 {
        margin: 20px 20px 20px 83px;
        border-radius: 10px;
        padding: 55px 30px;
        border: 1px solid #cc5d6a;
        border-top: 3px solid #cc5d6a;
        width: 175px;
        cursor: pointer;
    }

    .box5 {
        margin: 20px 20px 20px 83px;
        border-radius: 10px;
        padding: 55px 30px;
        border: 1px solid #cc5d6a;
        border-top: 3px solid #cc5d6a;
        width: 175px;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .content4 {
        display: flex;
        justify-content: center;
        margin: 0px;
        text-align: center;
        padding: 44px 24px;
        width: 100%;
    }

    .content1 {
        display: none;
    }

    .content2 {
        display: none;
    }

    .phoneview {
        display: block;
    }



    /* .owl-theme .owl-nav {
        margin: 10px 4px 10px 30px !important;
    } */
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .content4 {
        display: flex;
        justify-content: center;
        margin: 45px;
        text-align: center;
        padding: 69px 9px 24px 11px;
        width: 70%;
    }
}

.owl-theme .owl-nav {
    margin: 10px 101px 10px 15px !important;
}

@media (max-width: 768px) {
    .owl-theme .owl-nav {
        margin: 10px 34px 10px 0px !important;
        display: flex !important;
        justify-content: center !important;
    }

    .content3 {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .owl-theme .owl-nav {
        margin: 10px 4px 10px 30px !important;
        display: flex !important;
        justify-content: center !important;
    }

    .content3 {
        display: none;
    }
}

.content5 {
    margin-bottom: 7rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coll {
    display: flex;
    align-items: start;
    line-height: 2rem;
    flex-direction: column;
    justify-content: center;
    width: 67%;
    /* padding-right: 50px; */
}

.coll h1 {
    font-size: 32px;
}



.in {
    display: flex;
}

.bor {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 0px 0px;
    margin-bottom: 20px;
}

.sub {
    background-color: #772360;
    font-weight: bold;
    color: white;
    padding: 15px 80px;
    border-radius: 50px;
    font-family: Poppins-Bold;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}

label {
    color: #999999;
}

.coll h1 {
    margin: 20px 0px;
    font-family: Poppins-SemiBold;
}

footer {
    background-color: #772360;
    padding: 10px 20px;

    display: flex;
    justify-content: center;

}

.lastt {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 180px;
}

.lastt p {
    color: white;
    padding: 15px 10px 0px 10px;
    font-family: Poppins-Regular;
    text-align: start;
}

.phone {
    padding-right: 10px;
}

.social {
    padding: 0px 12px;
}

.bold {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
    font-family: Poppins-SemiBold;
}

.ga {
    margin: 0px 30px;
}

.high {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 768px) {


    .content5 {
        margin-bottom: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 24px;
    }

    footer {
        background-color: #772360;
        padding: 10px 20px;

        display: flex;
        justify-content: center;

    }

    .gap {
        margin: 0px 0px;
        width: 100%;
    }

    .bor {
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        padding: 10px 0px;
        width: 100%;
    }

    .high {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .sub {
        background-color: #772360;
        font-weight: bold;
        color: white;
        padding: 10px 150px;
        border-radius: 50px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        cursor: pointer;
        width: 100%;
        text-align: center;
    }

    .sum {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 21px 0px;
    }

    .coll {
        display: flex;
        align-items: center;
        line-height: 2rem;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0px 0px;
    }

    .ga {
        margin: 10px 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .lastt {
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .ga {
        margin: 10px 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lastt {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .content5 {
        margin-bottom: 7rem;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .gap {
        margin: 0px 0px;
        width: 50%;
    }

    footer {
        background-color: #772360;
        padding: 10px 20px;

        display: flex;
        justify-content: center;
    }

    .high {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .bor {
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        padding: 10px 0px;
        width: 100%;
    }

    .sum {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 21px 0px;
        text-align: center;
    }

    .sub {
        background-color: #772360;
        font-weight: bold;
        color: white;
        padding: 15px 100px;
        border-radius: 50px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
    }

    .coll {
        display: flex;
        align-items: center;
        line-height: 2rem;
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }


    .content4 {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        padding: 40px 24px;
        /* width: 70%; */
    }


}

/* .owl-item active {
    width: 280.867px !important;
    margin: 0 auto !important;
    text-align: center !important;
} */

@media (max-width: 768px) {
    .lastt p {
        color: white;
        padding: 15px 10px 0px 10px;
        font-family: Poppins-Regular;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .lastt p {
        color: white;
        padding: 15px 10px 0px 10px;
        font-family: Poppins-Regular;
        text-align: center;
    }
}



.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 1 !important;
    font: inherit;
    margin-left: 50px;
}


@media (min-width: 991.98px) and (max-width: 1230px) {
    .coll {
        display: flex;
        align-items: center;
        line-height: 2rem;
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }

    .content5 {
        margin-bottom: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .high {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .gap {
        margin: 0px 0px;
        width: 50%;
    }

    .bor {
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        padding: 0px 0px;
        margin-bottom: 20px;
        width: 100%;
    }

    .sum {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 21px 0px;
        text-align: center;
    }

    .sub {
        background-color: #772360;
        font-weight: bold;
        color: white;
        padding: 15px 100px;
        border-radius: 50px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
    }

    .lastt {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .ga {
        margin: 10px 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lastt p {
        color: white;
        padding: 15px 10px 0px 10px;
        font-family: Poppins-Regular;
        text-align: center;
    }

    .content3 {
        display: flex;
        justify-content: center;
        width: 77%;
        align-items: center;
        position: absolute;
        left: 11%;
        top: 68%;
        border: none;
        border-radius: 50px;
        padding: 10px;
        background-color: white;
        /* border: 1px solid black; */
        margin: 10px;
        box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.04);
    }

    .content2 {
        font-family: Roboto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        position: relative;
        background-color: #f3ead4;
    }

    .content3 {
        display: flex;
        justify-content: center;
        width: 77%;
        align-items: center;
        position: absolute;
        left: 11%;
        top: 68%;
        border: none;
        border-radius: 50px;
        padding: 10px;
        background-color: white;
        /* border: 1px solid black; */
        margin: 10px;
        box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.04);
    }
}