* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Poppins-light;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

.nav {
    padding: 40px 0px 0px 30px;
    background-color: #f3ead4;
    height: 50px;
    width: 198px;
    /* padding: 10px 10px; */
    object-fit: none;
}

nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .go {
        display: none;
    }

    .nav {
        display: none;
    }

    nav {
        display: none;
    }


}

@media (min-width: 768px) and (max-width: 991.98px) {
    .go {
        display: none;
    }

    .nav {
        display: none;
    }

    nav {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .go {
        display: none;
    }

    .nav {
        display: none;
    }

    nav {
        display: none;
    }


}

.h1 {
    font-weight: 100;
    font-size: 32px;
    font-family: Poppins-light;
}

.h12 {
    font-weight: 100;
    font-size: 32px;
    font-weight: bold;
    font-family: Poppins-SemiBold;
}

.container {
    background-color: white;
    position: relative;
    height: 100vh;
}

@media (max-width: 768px) {
    .container {
        background-color: #f2ebdc;
        position: relative;
        height: 100vh;
    }

    .h1 {
        font-weight: 100;
        font-size: 24px;
    }

    .h12 {
        font-weight: 100;
        font-size: 24px;
        font-weight: bold;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        background-color: #f2ebdc;
        position: relative;
        height: 100vh;
    }
}

.log .img {
    /* position: relative; */
    padding-top: 62px;
    width: 100%;
    display: flex;
    height: 70vh;
}

.go {
    width: 50%;
    background-color: #f3ead4;
    height: 100vh;
}

.log {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100vh;
}

@media (max-width: 768px) {
    .log {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .log {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.left {
    line-height: 40px;
    /* padding: 51px 120px 20px 20px; */
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    text-align: left;
    width: 40%;
}

@media (max-width: 768px) {
    .left {
        line-height: 40px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        height: 100vh;
        width: 100%;
        padding: 0px 24px;
    }
}

form {
    padding-top: 50px;
    font-size: 15PX;
    color: #999999;
    font-family: 'Poppins', sans-serif;
    width: 70%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .left {
        line-height: 40px;
        padding: 60px;
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        text-align: left;
        height: 70vh;
        width: 60%;
    }

    form {
        padding-top: 40px;
        font-size: 15PX;
        color: #999999;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }
}




label {
    font-family: Poppins-Regular;
    font-size: 13px;
}

form input {
    outline: none;
    border: none;
    border-bottom: 1px solid #666666;
    background-color: transparent;
    width: 100%;
    padding: 10px 0px;
}

.pp {
    display: flex;
    justify-content: space-between;
    width: 72%;
    padding-top: 10px;
}

.pp a {
    color: black;
    font-size: 12px;
    font-family: Poppins-Regular;
}

button {

    width: 200px;
    padding-left: 5px;
    background-color: #772360;
    border-radius: 20px;
    height: 50px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: column;
    /* line-height: 7rem; */
    border: none;
    width: 65%;
}


.butt {
    background-color: #772360;
    border-radius: 33px;
    padding: 4px 75px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-family: Poppins-Bold;
}

@media (max-width: 768px) {
    .butt {
        background-color: #772360;
        border-radius: 25px;
        /* height: 50px; */
        padding: 6px 2px;
        width: 100%;
        color: white;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px 0px;
        flex-direction: column;
        /* line-height: 7rem; */
        border: none;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .butt {
        background-color: #772360;
        border-radius: 33px;
        /* height: 50px; */
        padding: 6px 2px;
        width: 100%;
        color: white;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 17px;
        flex-direction: column;
        /* line-height: 7rem; */
        border: none;
        width: 89%;
        padding: 10px;
    }
}



.lo {
    color: #772360;
}

.aa {
    text-decoration: none;
    width: 72%;
    text-align: center;
    font-size: 14px;
    color: #666666;
    /* margin: 20px; */
    font-family: Poppins-Regular;
}

.aa a {
    font-family: Poppins-Bold;
}

.ab{
color: #772360;
text-decoration: none;
font-weight: bold;
font-family: Poppins-Bold;
}

@media (max-width: 768px) {

    .go {
        display: none;
        /* display: flex; */
        justify-content: center;
    }

    .aa {
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        font-size: 14px;
    }
}

#inputt{
    position: relative;
}




.eye {
    position: absolute;
    right: 6px;
}

@media (max-width: 768px) {
    .eye {
        position: absolute;
        right: 0px;
       
    }

    .aa {
        text-decoration: none;
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #666666;
    }

    form {
        padding-top: 50px;
        font-size: 15PX;
        color: #999999;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .eye {
        position: absolute;
        right: 0px;
       
    }

    .pp {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
    }

    .aa {
        text-decoration: none;
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #666666;
    }
}

.button p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 768px) {
    .button p {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pp {
        display: flex;
        justify-content: end;
        width: 100%;
        padding-top: 10px;
    }

    .opt{
        display: none;
    }

    .forget{
        text-decoration: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .button p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.line-h {
    line-height: 10px;
}