* {
    margin: 0%;
    padding: 0%;
}

.phoneview {
    display: none;
}


@font-face {
    font-family: Poppins-light;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

.searchb {
    color: white;
    border-radius: 50%;
    background-color: #772360;
    padding: 6px;
}

.radio1 label {
    margin: 0px 5px;
    font-family: Poppins-Regular;
}

.navv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.inputt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffdf7;
    padding: 6px 12px;
    border-radius: 30px;
    border: 2px solid #f6e8c6;
    margin: 10px;
    width: 50%;
    display: flex;
    align-items: center;
}

.disp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18%;

    font-size: 17px;
}

.point {
    margin: 20px 4px;
    font-family: Poppins-Medium;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .searchb {
        color: white;
        border-radius: 50%;
        background-color: #772360;
        padding: 6px;
    }

    .phoneview {
        display: block;
    }

    .navv {
        display: none;
    }

    .inputt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fffdf7;
        padding: 10px 15px;
        border-radius: 30px;
        border: 2px solid #f6e8c6;
        margin: 10px;
        width: 50%;
        display: flex;
        align-items: center;
    }

    .disp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15%;
    }

    .point {
        margin: 20px 10px;
    }
}



@media (max-width: 767.98px) {
    .phoneview {
        display: block;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        background-color: #ffffff;
        width: 90%;
        text-align: center;
        margin: 0px 30px;
    }

    .small {
        width: 11px;
        height: 7px;
        padding: 7px 3px;
    }

    .nav1 {
        display: flex;
        /* justify-content: space-between; */
        background-color: #ffffff;
        padding: 15px 10px;
    }

    .search {
        padding: 5px 10px;
    }

    .madu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0px 150px; */
        font-size: 16px;
        /* width: 100%; */
    }

    input {
        background-color: transparent;
        border: none;
        padding-top: 10px;
        outline: none;
        font-size: 17px;
        width: 550px;
        padding: 0px 10px;
        font-family: Poppins-Regular;
    }

    /* .linee {
        width: 2px;
        height: 100%;
        background-color: #eeeeee;
        margin: 0px 0px 0px 18px;
    } */

    .line1 {
        width: 100%;
        height: 2px;
        background-color: #eeeeee;
        margin-top: 15px;
    }


}



.login1 {
    border: 1px solid black;
    border-radius: 24px;
    padding: 6px 20px;
    background-color: transparent;
    cursor: pointer;

    text-align: center;
    font-weight: 300;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 767.98px) {

    .para {
        font-size: 13px;
        font-family: Poppins-Regular;
    }

    .searchb {
        color: white;
        border-radius: 50%;
        background-color: #772360;
        padding: 6px;
    }

    .navv {
        display: none;
    }

    .inputt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fffdf7;
        padding: 10px 15px;
        border-radius: 30px;
        border: 2px solid #f6e8c6;
        margin: 10px;
        width: 50%;
        display: flex;
        align-items: center;
    }

    .disp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15%;
    }

    .point {
        margin: 20px 10px;
    }
}

.iii {
    width: 100%;
    padding-left: 20px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-left: 1px solid #dcb966;
    outline: none;
    margin-left: 10px;
    font-family: Poppins-Regular;
}

select {
    background-color: transparent;
    border: none;
    font-size: 17px;
    margin: 0px 9px;
    outline: none;
    font-weight: normal;
    font-family: Poppins-Regular;
}

.radio1 {
    margin: 0px 10px;
    display: flex;
    align-items: center;
}

.container1 {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    /* height: 130vh; */
}

.innercontainer {
    width: 90%;
    background-color: white;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    padding: 30px 20px;
    /* height: 118vh; */
}

.img {
    object-fit: none;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .iii {
        width: 100%;
        padding-left: 20px;
        font-size: 16px;
        background-color: transparent;
        border: none;
        border-left: 1px solid #dcb966;
        outline: none;
        margin-left: 10px;
    }

    select {
        background-color: transparent;
        border: none;
        font-size: 17px;
        margin: 0px 9px;
        outline: none;
        font-weight: bold;
    }

    .radio1 {
        margin: 0px 10px;
        display: flex;
        align-items: center;
    }

    .container1 {
        background-color: #f9f9f9;
        display: flex;
        justify-content: center;
        /* height: 238vh; */
    }

    .innercontainer {
        width: 100%;
        background-color: white;
        border: 1px solid #f0f0f0;
        border-radius: 10px;
        margin: 10px;
        padding: 20px 150px;
        /* height: 226vh; */
    }

    .img {
        object-fit: contain;
        padding-bottom: 20px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 1px 0px 27px;
        background-color: #ffffff;
        width: 90%;
        text-align: center;
        margin: 0px 10px;
    }

    .small {
        width: 11px;
        height: 7px;
        padding: 7px 3px;
    }

    .nav1 {
        display: flex;
        /* justify-content: space-between; */
        background-color: #ffffff;
        padding: 15px 10px;
    }

    .search {
        padding: 5px 10px;
    }

    .madu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0px 150px; */
        font-size: 16px;
        /* width: 100%; */
    }

    input {
        background-color: transparent;
        border: none;
        padding-top: 10px;
        outline: none;
        font-size: 17px;
        width: 550px;
        padding: 0px 10px;
    }


    .line1 {
        width: 100%;
        height: 2px;
        background-color: #eeeeee;
        margin-top: 15px;
    }
}

@media (max-width: 767.98px) {
    .iii {
        width: 100%;
        padding-left: 20px;
        font-size: 16px;
        background-color: transparent;
        border: none;
        border-left: 1px solid #dcb966;
        outline: none;
        margin-left: 10px;
    }

    select {
        background-color: transparent;
        border: none;
        font-size: 17px;
        margin: 0px 9px;
        outline: none;
        font-weight: bold;
    }

    .radio1 {
        margin: 0px 10px;
        display: flex;
        align-items: center;
    }

    .container1 {
        background-color: #f9f9f9;
        display: flex;
        justify-content: center;
        /* height: 215rem; */
        padding: 30px 12px;
    }

    .innercontainer {
        width: 100%;
        background-color: white;
        border: 1px solid #f0f0f0;
        border-radius: 10px;
        padding: 20px 12px;
        margin: 0px !important;
    }

    .img {
        object-fit: contain;
        padding: 15px 0px;
    }
}

.bold {
    font-weight: bold;
    font-family: Poppins-SemiBold !important;
    font-size: 20px;
}

hr {
    color: #d8d8d8;
    margin: 20px 0px;
}

.top {
    display: flex;
}

.box {
    border: 1px solid #d8d8d8;
    padding: 10px;
    display: flex;
    width: 50%;
    border-radius: 12px;
    margin: 10px 10px;
    font-family: 'Poppins', sans-serif;
}

.box1 {
    border: 1px solid #d8d8d8;
    padding: 10px;
    display: flex;
    width: 50%;
    border-radius: 12px;
    margin: 10px 10px;
}

.bold1 {
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins-SemiBold;
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .bold {
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }

    hr {
        color: #d8d8d8;
        margin: 20px 0px;
    }

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 12px;
    }

    .box {
        border: 1px solid #d8d8d8;
        /* padding: 10px; */
        display: flex;
        border-radius: 12px;
        margin: 10px 0px;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .bold1 {
        font-size: 18px;
        font-weight: bold;
    }
}

@media (max-width: 767.98px) {
    .bold {
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }

    .alignall {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 20px;
    }

    hr {
        color: #d8d8d8;
        margin: 20px 0px;
    }

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 12px;
    }

    .box {
        border: 1px solid #d8d8d8;
        padding: 10px;
        display: flex;
        border-radius: 12px;
        margin: 10px 5px;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .bold1 {
        font-size: 18px;
        font-weight: bold;
    }
}

.tablea {
    line-height: 28px;
    width: 75%;
    padding: 0px 10px;
}

.display {
    display: flex;
    justify-content: space-between;

}

.mon {
    font-weight: 500;
    font-family: Poppins-Regular;
}

.bor {
    display: flex;
    color: #666666;
}

.bor1 {
    padding: 0px 5px;
    border: 1px solid #d8d8d8;
    margin: 0px 7px 0px 0px;
    border-radius: 4px;
    font-size: 12px;
    align-items: center;
    font-family: Poppins-Regular;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .tablea {
        line-height: 28px;
        width: 75%;
        padding: 0px 10px;
    }

    .display {
        display: flex;
        justify-content: space-between;

    }

    .mon {
        font-weight: 500;
    }

    .bor {
        display: flex;
        color: #666666;
    }

    .bor1 {
        padding: 0px 10px;
        border: 1px solid #d8d8d8;
        margin: 0px 10px 0px 0px;
        border-radius: 4px;
        font-size: 11px;
    }
}

@media (max-width: 767.98px) {
    .tablea {
        line-height: 28px;
        width: 75%;
        padding: 0px 10px;
        text-align: center;
    }

    .display {
        display: block;
        /* justify-content: space-between; */
    }

    .mon {
        font-weight: 500;
    }

    .bor {
        display: flex;
        color: #666666;
        justify-content: center;
        align-items: center;
    }

    .bor1 {
        /* padding: 0px 10px; */
        border: 1px solid #d8d8d8;
        /* margin: 0px 10px 0px 0px; */
        border-radius: 4px;
        font-size: 12px;
    }
}

.bor2 {
    padding: 0px 5px;
    border: 1px solid #d8d8d8;
    margin: 5px 10px 0px 0px;
    border-radius: 4px;
    font-size: 12px;
    font-family: Poppins-Regular;
}

.line {
    background-color: #666666;
    width: 1px;
    height: 15px;
    margin: 0px 10px;
}

.leftp {
    display: flex;
    align-items: center;
    justify-content: end;

}

.mar {

    color: #772360;
    font-family: Poppins-SemiBold;
    font-size: 14px;
    font-weight: 600;
}

.displayall {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .bor2 {
        padding: 0px 10px;
        border: 1px solid #d8d8d8;
        margin: 5px 10px 0px 0px;
        border-radius: 4px;
        font-size: 12px;
    }

    

    .line {
        background-color: #666666;
        width: 1px;
        height: 15px;
        margin: 0px 10px;
    }

    .leftp {
        display: flex;
        align-items: center;
        justify-content: end;

    }

    .mar {

        color: #772360;
        font-weight: bold;
        font-size: 14px;
    }

    .displayall {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 767.98px) {
    .bor2 {
        padding: 0px 10px;
        border: 1px solid #d8d8d8;
        margin: 5px 0px 0px 0px;
        border-radius: 4px;
        font-size: 12px;
    }

    .line {
        background-color: #666666;
        width: 1px;
        height: 15px;
        margin: 0px 10px;
    }

    .leftp {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mar {
        font-size: 14px;
        color: #772360;
        font-weight: bold;
    }

    .displayall {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bold1 {
        font-size: 14px;
        font-weight: 600;
        font-family: Poppins-SemiBold;
    }
}

.para {
    font-size: 14px;
    font-family: Poppins-Regular;
}



.tri {
    padding: 0px 10px;
    cursor: pointer;
}

.num {
    padding: 10px 10px;
    cursor: pointer;
    color: #9f9f9f;
    font-size: 14px;
    font-family: Poppins-SemiBold;
    font-weight: bold;
}

.num:hover {
    color: #772360;
}



#build {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

/* @media (min-width:  991.98px) and (max-width:1230) {
    #build {
        display: flow-root;
    }
} */

@media (min-width: 991.98px) and (max-width: 1230.98px) {
    .container1 {
        background-color: #f9f9f9;
        display: flex;
        justify-content: center;
        height: 143vh;
    }

    .innercontainer {
        width: 90%;
        background-color: white;
        border: 1px solid #f0f0f0;
        border-radius: 10px;
        margin: 10px;
        padding: 30px 20px;
        height: 130vh;
    }

    #build {
        display: flow-root;
    }

    .bold1 {
        font-size: 15px;
        font-weight: 600;
        font-family: Poppins-SemiBold;
    }

    .disp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 23%;
        font-size: 17px;
    }
}

@media (max-width: 767.98px)  {
    #build {
        display: flow-root;
    }

   
}

@media (max-width: 530.98px) {
    .box {
        border: 1px solid #d8d8d8;
        padding: 10px 12px;
        display: flex;
        border-radius: 12px;
        /* margin: 10px 5px; */
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        background-color: #ffffff;
        width: 90%;
        text-align: center;
        margin: 0px 10px;
    }
}

/* .box1 {
    display: none;
} */


/* #build {
    display: flex;
    justify-content: space-between;
    align-items: start;
} */