* {
    margin: 0%;
    padding: 0%;
}

.img {
    position: relative;

    width: 100%;
    display: flex;
    height: 70vh;
}

.label {
    color: #999999;
    font-size: 13px;
}

.header {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #f3ead4;
}

@media (max-width: 768px) {
    .header {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header {
        display: none;
    }
}

.topic {
    position: absolute;
    left: 14%;
    top: 32px;
    line-height: 1.5;
}

.topic h1 {
    font-weight: 100;
    font-size: 45px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: #f2ebdc;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: #f2ebdc;
    }
}



form input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 10px;
}

@media (max-width: 768px) {
    form input {
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        width: 93%;
        padding: 10px;
        background-color: transparent;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    form input {
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        width: 93%;
        padding: 10px;
        background-color: transparent;
    }
}

button {
    background-color: #3fb575;
    width: 100%;
    /* height: 40px; */
    border: none;
    border-radius: 40px;
    cursor: pointer;
    padding: 15px 20%;
}

.last {
    text-align: center;
    line-height: 3rem;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    width: 74%;
}

@media (max-width: 768px) {
    .last {
        text-align: center;
        line-height: 3rem;
        padding-top: 30px;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }

}

@media (max-width: 768px) {
    button {
        background-color: #3fb575;
        width: 100%;
        /* height: 40px; */
        border: none;
        border-radius: 40px;
        cursor: pointer;
        padding: 14px 140px;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .last {
        text-align: center;
        line-height: 3rem;
        padding-top: 30px;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }
}

.login {
    font-family: 'Poppins', sans-serif;
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.login h1 {
    font-size: 32px;
}

@media (max-width: 768px) {
    .login {
        font-family: 'Poppins', sans-serif;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
    }

    .login h1 {
        font-size: 24px;
        font-weight: 600;
    }


}

@media (min-width: 768px) and (max-width: 991.98px) {
    .login {
        font-family: 'Poppins', sans-serif;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
    }
}

.pp {
    padding: 40px 0px;
    width: 70%;
}

@media (max-width: 768px) {
    .pp {
        padding: 20px 0px;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .pp {
        padding: 20px 0px;
        width: 100%;
    }
}


a {
    color: #772360;
    cursor: pointer;
    text-decoration: none;
}

.para {
    background-color: #f78f1e;
    padding: 16px 90px 16px 10px;
    border-radius: 10px;
    font-size: 14px;
    width: 80%;
}

form {
    width: 69%;
}

@media (max-width: 768px) {
    .para {
        background-color: #f78f1e;
        padding: 16px 70px 16px 10px;
        border-radius: 10px;
        font-size: 14px;
        width: 80%;
    }

    form {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .para {
        background-color: #f78f1e;
        padding: 16px 70px 16px 10px;
        border-radius: 10px;
        font-size: 14px;
        width: 82%;
    }

    form {
        width: 100%;
    }
}



.last p {
    font-size: 14px;
    color: #666666;
    text-align: center;
}

