* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
}


@font-face {
    font-family: Poppins-light;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

.topall {
    display: flex;
    /* justify-content: center; */

}

.property {
    height: 100%;
}

nav input {
    border: none;
    outline: none;
    background-color: transparent;

}

.radio label {
    margin: 0px 5px;
}

select {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin: 0px 9px;
    outline: none;
    font-family: Poppins-Regular !important;
}

option {
    padding-right: 20px;
}

hr {
    width: 100%;
    margin: 0px 0px;
}

.iii {
    width: 100%;
    border-left: 1px solid #dcb966;
    padding-left: 20px;
    font-size: 16px;
}

.navv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 30px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .navv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 10px 30px;
        font-family: 'Poppins', sans-serif;
        flex-direction: column;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    .topall {
        display: flex;
        justify-content: center;
    }

    hr {
        width: 100%;
        margin: 0px 0px;
    }

    .navv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 10px 30px;
        font-family: 'Poppins', sans-serif;
        flex-direction: column;
    }

    .flex1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    hr {
        display: none;
    }

    .tab {
        /* background-color: #6e6e6e; */
        padding: 5px;
        border-radius: 20px;
        border: 1px solid black;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}



.inputt {
    background-color: #fffdf7;
    padding: 5px 10px;
    border-radius: 40px;
    border: 2px solid #f6e8c6;
    margin: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    font-family: Poppins-Regular;
}

@media only screen and (max-width: 768px) {
    .inputt {
        background-color: #fffdf7;
        padding: 5px 10px;
        border-radius: 20px;
        border: 2px solid #f6e8c6;
        margin: 10px;
        width: 85%;
        display: flex;
        align-items: center;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .inputt {
        background-color: #fffdf7;
        padding: 5px 10px;
        border-radius: 20px;
        border: 2px solid #f6e8c6;
        margin: 10px;
        width: 85%;
        display: flex;
        align-items: center;
    }
}



.tab {
    display: flex;
    color: #6e6e6e;
    align-items: center;
    /* justify-content: center; */
}

.right h2 {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 30px;
}

.left h2 {
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins-SemiBold;
    padding-top: 20px;
}


@media only screen and (max-width: 768px) {
    .tab {
        display: flex;
        /* margin: 3px; */
        color: #6e6e6e;
        padding-top: 20px;
        align-items: center;
        justify-content: space-evenly;
    }

}





.tab button {
    border: none;
    background-color: transparent;
    padding: 10px 182px 10px 15px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    color: #6e6e6e;
    font-family: Poppins-Medium !important;
    font-size: 13px;
    font-weight: 500;
}

.tab button:hover {

    color: black;
}

@media only screen and (max-width: 768px) {
    .tab button {
        border: none;
        background-color: transparent;
        padding: 10px 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 12px;
    }
}

.right {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 25px;
    border-radius: 10px;
    padding: 34px 0px;
    width: 20%;
    /* height: 70vh; */
    font-family: 'Poppins', sans-serif;
    padding-bottom: 180px;
}



@media only screen and (max-width: 768px) {
    .right {
        /* display: flex; */
        /* flex-direction: column; */
        /* background-color: white; */
        margin: 7px 0px;
        border-radius: 10px;
        padding: 25px 10px;
        width: 100%;
        /* height: 150px; */
        font-family: 'Poppins', sans-serif;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {


    .tab button {
        border: none;
        background-color: transparent;
        padding: 10px 6px;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
    }

    .apa {
        margin: 45px 0px 11px 0px;
        width: 97%;
        box-shadow: 0px 0px 2px 0px;
        padding: 20px 30px;
        border-radius: 10px;
        cursor: pointer;
    }
}

.header {
    display: flex;
    justify-content: space-between;

}

@media only screen and (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        justify-content: center;
        align-items: center;
        padding: 20px 24px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}



.calader {
    display: flex;
    align-items: left;
}

.calader input {
    margin: 10px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: rgba(217, 217, 217, 0.3);
    width: 300px;
    border-radius: 5px;
}

.radio {
    padding: 10px;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .radio {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .radio {
        display: none;
    }
}




.head1 {
    display: flex;
    justify-content: space-between;
}



.left {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    padding: 0px 30px;
    margin: 11px 30px 10px 10px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 768px) {
    .left {
        /* padding: 10px; */
        border-radius: 10px;
        /* padding: 0px; */
        /* width: auto; */
        font-family: 'Poppins', sans-serif;
        /* display: flex; */
        /* justify-content: center; */
        /* margin: 0px; */
        margin: 0px 1px;
        padding: 0px 12px;
    }
}



.all {
    background-color: #772360;
    padding: 10px;
    border-radius: 20px;
    width: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.tableall {
    padding-top: 50px;
    width: 102%;
}

.line {
    width: 100%;
    margin: 22px 13px 35px 0px;
}

@media (min-width: 768px) and (max-width: 991.98px) {



    .p {
        display: flex;
        padding: 5px 5px;
        font-weight: bold;
    }

    .line {
        width: 100%;
        margin: 22px 13px 35px 0px;
    }
}

@media only screen and (max-width: 768px) {
    .line {
        width: 128%;
        margin: 22px 13px 35px 0px;
    }

    .tab img {
        display: none;
    }

}

.pro {
    box-shadow: 0px 0px 2px 0px;
    margin-top: 38px;
    padding: 6px 12px;
    /* width: 30%; */
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    line-height: 10px;
}

@media only screen and (max-width: 768px) {
    .pro {
        box-shadow: 0px 0px 2px 0px;
        margin: 30px 12px;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: 5px 12px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .pro {
        box-shadow: 0px 0px 2px 0px;
        margin-top: 38px;
        padding: 6px 10px;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        line-height: 15px;
    }
}



.pro1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .pro1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px 0px;
    }
}

.add {
    font-size: 11px;
    font-family: Poppins-Regular;

    display: flex;
    justify-content: left;
    align-items: start;
}

.add1 {
    font-size: 11px;

    color: #666666;
    font-family: Poppins-Regular;
    display: flex;
    justify-content: end;
}



.apa {
    margin: 40px 25px 20px 25px;
    width: 32%;
    box-shadow: 0px 0px 2px 0px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: start;

}

.apap {
    /* width: 25%; */
    text-align: center;
    background-color: #772260;
    color: white;
    padding: 6px 11px;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 500;
    text-decoration: none;
    font-family: Poppins-Medium;
}



@media (min-width: 768px) and (max-width: 991.98px) {
    .apa {
        margin: 40px 25px 20px 25px;
        width: 100%;
        box-shadow: 0px 0px 2px 0px;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        font-size: smaller;
    }
}



.cbtn {
    display: flex;
    font-family: Poppins-Medium;
}

@media only screen and (max-width: 768px) {
    .cbtn {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    .topall {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 12px;
    }

}

.bold {
    font-weight: bold;
    font-size: 14px;
    font-family: Poppins-Medium;
}

.inflow {
    box-shadow: 0px 0px 2px 0px;
    margin: 10px 7px;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {

    .inflow {
        box-shadow: 0px 0px 2px 0px;
        margin: 10px 7px;
        padding: 10px;
        border-radius: 10px;
        width: 90%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        font-family: Poppins-SemiBold;
    }

    .to {
        display: flex;
        margin-bottom: 0px !important;
        justify-content: end;

    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .inflow {
        box-shadow: 0px 0px 2px 0px;
        margin: 10px 8px;
        padding: 10px;
        border-radius: 10px;
        width: 35%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: smaller;
    }
}

.in {
    margin: 11px 17px 10px 7px;
    width: 92%;
}

.pay {
    background-color: #772260;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    font-family: Poppins-Medium;
}

.back {
    color: black;
    background-color: #f8f8f8;
    padding: 6px 16px;
    border-radius: 5px;
    margin: 13px 3px;
    cursor: pointer;
    font-family: Poppins-Regular;
}

.back:hover {
    background-color: #772260;
    color: white;
}

.to {
    display: flex;
    margin-bottom: 20px;
    justify-content: end;
    align-items: center;
}

.view {
    cursor: pointer;
    color: #772360;
    font-size: 11px;
    font-weight: 500;
    font-family: Poppins-Medium;
}

.point {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 30px 0px 0px;
    font-family: Poppins-Medium;
}

#btn1 {
    padding: 10px 24px;
    margin: 0px 13px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    font-weight: 500;
    color:
        #f0f #6e6e6e;
}

#btn1:hover {
    background-color: #772260;
    color: white;
}

.gap {

    border: 20px;
    display: flex;
    flex-direction: column;
    width: 29%;
    box-shadow: 0px 0px 2px 0px;
    margin: 10px 17px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {

    .gap {
        /* padding: 10px 9px; */
        border: 20px;
        display: flex;
        flex-direction: column;
        width: auto;
        box-shadow: 0px 0px 2px 0px;
        margin: 10px 0px;
        border-radius: 10px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .gap {
        /* padding: 10px 22px; */
        border: 20px;
        display: flex;
        flex-direction: column;
        width: 51%;
        box-shadow: 0px 0px 2px 0px;
        margin: 10px 17px;
        border-radius: 10px;
    }

    h2 {
        display: flex;
        justify-content: center;

        margin: 10px;
    }

    #property {
        width: 100%;
        padding-bottom: 40px;
    }

    #Loan {
        width: 100%;
        padding-bottom: 40px;
    }
}

.done {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 172px;
    padding: 39px 183px 10px 33px;
}

@media only screen and (max-width: 768px) {

    .done {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 172px;
        padding: 39px 7px 10px 33px;
    }

    #Loan {
        width: 100%;

    }

    #property {
        width: 100%;

    }

    .apap {
        width: auto;
        text-align: center;
        background-color: #772260;
        color: white;
        padding: 6px 11px;
        border-radius: 6px;
        font-size: 11px;
        font-weight: 500;
        text-decoration: none;
        font-family: Poppins-Medium;
    }


}

@media (min-width: 768px) and (max-width: 991.98px) {
    .apap {
        width: auto;
        text-align: end;
        background-color: #772260;
        color: white;
        padding: 7px 11px;
        border-radius: 6px;
        font-size: smaller;
        text-decoration: none;
    }
}

.disp {
    display: flex;
    width: 30%;
    justify-content: end;
    align-items: center;
}

@media only screen and (max-width: 768px) {

    .disp {
        display: flex;
        width: 50%;
        justify-content: inherit;
        line-height: 25px;
    }

    .disp1 {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .disp {
        display: flex;
        width: 30%;
        justify-content: inherit;
    }
}

.pro11 {
    display: flex;
    justify-content: end;


    padding: 11px 0px;

    flex-direction: row;
}

.boxx {
    background-color: #772260;
    color: white;
    padding: 9px 11px;
    border-radius: 6px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    font-family: Poppins-Medium;
}



.topall1 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

@media only screen and (max-width: 768px) {

    .topall1 {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
        padding: 20px 0px;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .topall1 {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }
}

button {
    outline: none;
}



.all {

    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 768px) {

    .flex1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    hr {
        display: none;
    }

    .tab {
        /* background-color: #6e6e6e; */
        padding: 5px;
        border-radius: 20px;
        border: 1px solid black;
    }
}

#outflow {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    #outflow {
        width: 100%;

    }
}

#Inflow {
    width: 100%;

}

@media only screen and (max-width: 768px) {

    #Inflow {
        width: 100%;

    }
}

@media only screen and (max-width: 768px) {

    .color:hover {
        background-color:
            #f8f8f8;
        color: black;
        border-radius: 20px;
    }

    .apa {
        margin: 0px;
        width: 100%;
        box-shadow: 0px 0px 2px 0px;
        padding: 15px 12px;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .boxx {
        background-color: #772260;
        color: white;
        padding: 9px 4px;
        border-radius: 6px;
        font-size: smaller;

        text-align: center;
    }

    .inflow {
        box-shadow: 0px 0px 2px 0px;
        margin: 10px 7px;
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }
}

.searchb {
    color: white;
    border-radius: 50%;
    background-color: #772360;
    padding: 6px;
}

.color {
    background-color: transparent;
    /* display: flex; */
    padding: 18px 20px;
    align-items: center;
    cursor: pointer;
}

.color:hover {
    background-color:
        #f8f8f8;
    color: black;

}

#All {
    width: 100%;
}

.name {
    font-size: 12px;
    font-weight: 500;
    font-family: Poppins-Medium;
}

.col {
    font-size: 11px;
    font-weight: normal;
    font-family: Poppins-Regular;
}

.pro12 {
    background-color:
        #f0f0f0;
    padding: 15px 10px;
    border-radius: 10px 10px 0px 0px;
}

.pro13 {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.pro14 {
    padding: 0px 10px 10px 10px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .color {
        background-color: transparent;
        display: flex;
        padding: 18px 10px;
        align-items: center;
        cursor: pointer;
        width: 100%;
    }

    .right {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 0px;
        border-radius: 10px;
        padding: 3px 0px;
        width: 100%;
        height: 150px;
        font-family: 'Poppins', sans-serif;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        align-items: center;
        padding: 25px 20px;
    }

    .left {
        background-color: white;
        border-radius: 10px;
        padding: 0px;
        margin: 5px 31px;
        /* margin-top: 30px; */
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
    }

    .topall {
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        justify-content: center;
        align-items: center;
        padding: 0px 24px;
    }
}

@media only screen and (max-width: 768px) {
    .color {
        background-color: transparent;
        /* display: flex; */
        padding: 0px !important;
        align-items: center;
        cursor: pointer;
        width: 100%;
    }

    .phoneview {
        display: block !important;
    }

    .cointainer {
        display: none !important;
    }
}


/* navbar */
.navv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0px 30px; */
    font-family: 'Poppins', sans-serif;
}

.phoneview {
    display: none;
}

.inputt {
    background-color: #fffdf7;
    padding: 7px 10px;
    border-radius: 30px;
    border: 2px solid #f6e8c6;
    margin: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    font-family: Poppins-Regular;
}

.iii {
    width: 100%;
    padding-left: 20px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-left: 1px solid #dcb966;
    outline: none;
    margin-left: 10px;
    font-family: Poppins-Regular;
}

select {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: Poppins-Regular;
}

.radio1 {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    font-family: Poppins-Regular;

}

input {
    border: none;
    outline: none;
    font-family: Poppins-Regular;
}

.dispall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
    font-weight: bold;
}

/* .p {
    margin: 0px 15px 0px 0px;
} */

.point {
    margin: 0px 15px;
    font-family: Poppins-Medium;
}

label {
    margin: 0px 5px;
}

.searchb {
    color: white;
    border-radius: 50%;
    background-color: #772360;
    padding: 6px;
}



.row {
    --bs-gutter-x: 0rem !important;
}



@media (min-width: 768px) and (max-width: 991.98px) {

    .searchb {
        color: white;
        border-radius: 50%;
        background-color: #772360;
        padding: 6px;
    }

    .phoneview {
        display: block;
        padding: 10px 10px;
        background-color: white;
    }

    .navv {
        display: none;
    }

    .inputt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fffdf7;
        padding: 10px 15px;
        border-radius: 30px;
        border: 2px solid #f6e8c6;
        margin: 10px;
        width: 50%;
        display: flex;
        align-items: center;
    }

    .disp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15%;
    }

    .point {
        margin: 20px 10px;
    }

    .paste {
        position: absolute;
        top: 47%;
        left: 29%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 38%;
        height: 23%;

    }
}

@media (max-width: 767.98px) {

    .cbtn img {
        display: none;
    }

    .paste {
        position: absolute;
        top: 47%;
        left: 29%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 38%;
        height: 23%;

    }

    .navv {
        display: none;
    }

    .phoneview {
        display: block;
        padding: 0px 10px;
        background-color: white;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        background-color: #ffffff;
        width: 100%;
        text-align: center;
        /* margin: 0px 10px; */
    }

    .small {
        width: 11px;
        height: 7px;
        padding: 7px 3px;
    }

    .nav1 {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 15px 10px;
    }

    .search {
        padding: 5px 10px;
    }

    .madu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0px 150px; */
        font-size: 16px;
        /* width: 100%; */
    }

    input {
        background-color: transparent;
        border: none;
        padding-top: 10px;
        outline: none;
        font-size: 17px;
        width: 100%;
        padding: 0px 10px;
    }



    .line10 {
        width: 100%;
        height: 2px;
        background-color: #eeeeee;

    }

    .login1 {
        border: 1px solid black;
        border-radius: 24px;
        padding: 6px 20px;
        background-color: transparent;
        cursor: pointer;

        text-align: center;
        font-weight: 300;
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navv {
        display: none;
    }

    .phoneview {
        display: block;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        text-align: center;
        padding: 10px;
    }

    .small {
        width: 11px;
        height: 7px;
        padding: 7px 3px;
    }

    .nav1 {
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 15px 10px;
    }

    .search {
        padding: 5px 10px;
    }

    .madu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0px 150px; */
        font-size: 16px;
        /* width: 100%; */
    }

    input {
        background-color: transparent;
        border: none;
        padding-top: 10px;
        outline: none;
        font-size: 17px;
        width: 100%;
        padding: 0px 10px;
    }



    .line10 {
        width: 100%;
        height: 2px;
        background-color: #eeeeee;

    }

    .login1 {
        border: 1px solid black;
        border-radius: 24px;
        padding: 6px 20px;
        background-color: transparent;
        cursor: pointer;

        text-align: center;
        font-weight: 300;
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }
}


/* nav */

.cointainer {
    background-color: white;
}

.lastword {
    display: flex;
    justify-content: end;
}

.tab img {
    color: #772260;
     
}