* {
    margin: 0%;
    padding: 0%;
}

body{
    margin: 0%;
    padding: 0%;
}



.img {
    position: absolute;
   bottom: 0%;
   left: 0%;
    width: 100%;
    height: 70vh;
}

.header {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #f3ead4;
    position: relative;
 
}



@media (max-width: 768px) {
    .header {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header {
        display: none;
    }
}

.topic {
    position: absolute;
    left: 31%;
    top: 39px;
    /* font-family: 'Poppins', sans-serif; */
}

.topic h1 {
    font-weight: 100;
   font-size: 46px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
        background-color: #f2ebdc;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
        background-color: #f2ebdc;
    }
}

/* form {
    line-height: 2rem;
} */

label {
    color: #999999;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

form input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 70%;
    padding: 10px;
}

@media (max-width: 768px) {
    form input {
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        width: 90%;
        padding: 10px;
        background-color: transparent;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    form input {
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        width: 95%;
        padding: 10px;
        background-color: transparent;
    }
}

.res {
    background-color: #772360;
    width: 100%;
    /* height: 40px; */
    border: none;
    border-radius: 26px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 14px;
    display: flex;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.last p{
    font-size: 14px;
    color: #666666;
}

@media (max-width: 768px) {
    .res {
        background-color: #772360;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 16px;
        padding: 0px 0px;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .res {
        background-color: #772360;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 16px;
        padding: 0px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.last {
    text-align: center;
    line-height: 3rem;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    width: 70%;
    text-decoration: none;
}

@media (max-width: 768px) {
    .last {
        text-align: center;
        line-height: 3rem;
        padding-top: 30px;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        text-decoration: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .last {
        text-align: center;
        line-height: 3rem;
        padding-top: 30px;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        text-decoration: none;
    }
}


.login {
    font-family: 'Poppins', sans-serif;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

@media (max-width: 768px) {
    .login {
        font-family: 'Poppins', sans-serif;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .login {
        font-family: 'Poppins', sans-serif;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
    }
}

.pp {
    padding: 40px 0px;
    width: 60%;
}


form {
    padding-top: 3rem;
}

.aa {
    color: #772360;
    font-weight: bold;
    text-decoration: none;
}